@keyframes fade {
  from {
    opacity:0;
  }
   to {
    opacity:1
  }
}


/*Events.js*/
.eventflex
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.eventwelcome
{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-size: 8vh;
  font-weight: 200;
  animation-name: fade;
  animation-duration: 3s;
}
.eventflex p 
{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  animation-name: fade;
  animation-duration: 5s;
}
.eventflex ol
{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  animation-name: fade;
  animation-duration: 7s;
}
.eventflex a
{
  margin-top: 3%;
  width: 20%;
  animation-name: fade;
  animation-duration: 9s;
}
.btn-danger
{
  margin-top: 1%;
  margin-bottom: 3%;
  width: 20%;
  animation-name: fade;
  animation-duration: 11s;
  background-color:#FF6500;
  animation-name: fade;
  animation-duration: 3s;
}


/*Home.js*/

.sponsor {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.sponsor img {
  border-radius: 10%;
  margin-top: 5%;
  width: 10vw;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
#Vinter {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FF6500;
  text-align: center;
  width:100%;
  height: auto;
  font-size: 7vw;
  animation-name: fade;
  animation-duration: 1s;
  margin-bottom: 3%;
  margin-top: 2%;
}

#theme {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #121481;
  margin-top: -2%;
  text-align: center;
  width:100%;
  height: auto;
  font-size: 4vw;
  animation-name: fade;
  animation-duration: 2s;
  letter-spacing: 0.6rem;
  animation-name: fade;
  animation-duration: 3s;
}
#homepage a
{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  animation-name: fade;
  animation-duration: 3s;
}

.carousel
{
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  height: auto;
}
.carousel img
{
  width:100%;
}
.homeabout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Jost", sans-serif;
  font-size: 2vw; 
  animation-name: fade;
  animation-duration: 5s;

}
.hometitle
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Jost", sans-serif;
  font-size: 3vw; 
  animation-name: fade;
  animation-duration: 6s;
}



/*Leaderboard.js*/
.table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #ddd; 
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  animation-name: fade;
  animation-duration: 5s;
}
.table th, .table td {
  border: 1px solid #ddd; 
  padding: 8px;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:antiquewhite;
  color: black;
}
.tabledata
{
  font-family: "Jost", sans-serif;
}
.Leaderboard
{
  margin-left: 15%;
  margin-top: 2%;
  animation-name: fade;
  animation-duration: 3s;
}



/*Navbar.js*/
.navele {
  font-weight: 3000;
  font-size: 20px;
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.brand-logo {
  height: 40px;
  width: auto;
  border-radius: 5%;
  width: 130px;
  height: 50px;
}
.custom-toggle {
  border: none;
  background-color:#FF6500;
  outline: none;
}




/*Sponsors.js*/
.homesabout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 4%;
  font-family: "Jost", sans-serif;
  animation-name: fade;
  animation-duration: 3s;
}
.sponsorgrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  margin: 20px;
}
.sponsorgrid img {
  width: 212.75px;
  height: 78.75px;
  border-radius: 5%;
}

@media(max-width:1100px)
{
  /*Events.js*/
  .eventwelcome
  {
    margin-left: 13%;
    margin-right: 10%;
    margin-top: 3%;
    width: 80%;
    font-family: "Passion One", sans-serif;
    font-weight: 100;
    font-size: 2.7vh;
    animation-name: fade;
  animation-duration: 3s;
  }
  .eventflex p 
{
  margin-left: 14%;
  margin-right: 10%;
  width: 80%;
  font-size: 1.5vh;
  margin-top: 3%;
  animation-name: fade;
  animation-duration: 4s;
}
.eventflex ol
{
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  font-size: 1.5vh;
  margin-top: 3%;
  animation-name: fade;
  animation-duration: 5s;
}
.eventflex a
{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 30%;
  animation-name: fade;
  animation-duration: 6s;
}
.btn-danger
{
  margin-top: 1%;
  margin-bottom: 3%;
  width: 20%;
  animation-name: fade;
  animation-duration: 6s;
  background-color:#FF6500;
}


/*Sponsors.js*/
.homesabout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 4%;
  font-family: "Jost", sans-serif;
  font-size: 30px;
}
.sponsorgrid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  margin: 20px;
}
.sponsorgrid img {
  width: 212.75px;
  height: 78.75px;
  border-radius: 5%;
}

/*Home.js*/
.homeabout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Jost", sans-serif;
  font-size: 3vw; 
}
.hometitle
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Jost", sans-serif;
  font-size: 6vw; 
}
}
